// Fonts
$font-main: "NeueHaasUnica", sans-serif;
$font-accent: "TinkoffSans", sans-serif;

// Colors
$text-secondary: rgba(0, 0, 0, 0.54);
$bg-neutral: rgba(36, 74, 127, 0.06);
$text-primary: rgba(0, 0, 0, 0.8);
$text-tertiary: rgba(0, 0, 0, 0.4);
$bg-neutral-on-light: rgba(0, 0, 0, 0.03);
$bg-neutral-on-base: rgba(246, 247, 248, 1);
$text-action: rgba(18, 109, 247, 1);
$text-primary-on-accent: rgba(51, 51, 51, 1);
$bg-elevation: rgba(255, 255, 255, 1);
$border-normal: rgba(0, 16, 36, 0.12);
$bg-accent-1: rgba(255, 221, 45, 1);
$bg-accent-2: rgba(66, 139, 249, 1);