.comments-container {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.comments-container--visible {
  display: flex;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-end;
  width: 100%;
}

.comment {
  background: #fff;
  border-radius: 24px;
  padding: 0 24px;
  box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.12);
  font-family: sans-serif;
  width: 88%;

  &__header {
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 20px 0;
  }

  &__avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__content {
    line-height: 1.4;
    padding-bottom: 24px;
  }
}

.comments-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.comments-toggle-btn {
  align-self: flex-end;
  width: auto;
  color: $text-secondary;
  margin-top: 20px;
}

.comment-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 88%;          
  margin-left: auto;

  textarea {
    width: 100%;
    height: 116px;
    resize: none;
    padding: 16px;
    border-radius: 12px;
    border: none;
    background-color: $bg-neutral;

    &::placeholder {
      color: $text-secondary;
    }
  }

  button {
    align-self: flex-end;
    font-size: 13px;
    background: $bg-accent-1;
    color: $text-primary;
    border: none;
    border-radius: 8px;
    padding: 8px 12px;
    cursor: pointer;
  }
}
