.input {
  width: 100%;
  min-width: unset;
  max-width: unset;
  flex: 1 1 auto;
  background-color: $bg-neutral;
  border: thin solid transparent;
  color: $text-secondary;

  &::placeholder {
    color: $text-secondary;
  }

  @media screen and (prefers-reduced-motion: no-preference) {
    transition: border 0.2s linear, background-color 0.2s linear, color 0.2s linear;
  }
}

.input--medium {
  font-size: 13px;
  line-height: 20px;
  padding: 6px 10px;
  height: 32px;
  border-radius: 8px;
  width: 180px;
  opacity: 56%;

  @media (min-width: 600px) {
    width: 320px;
  }
}

.input--large {
  font-size: 15px;
  line-height: 24px;
  padding: 16px;
  height: 56px;
  border-radius: 12px;
}

.input--focus {
  outline: none;
  background-color: var(--bg-focus-1);
  border-color: var(--border-neural-1);
}